@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Loader Animation */
.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #2a9d8f;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }
  40% {
    transform: scale(0.8, 1.2);
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2;
  }
  100% {
    box-shadow: 0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2,
            -70px 90px 0 rgba(0, 0, 0, 0);
  }
}

/* Glitch Radio Buttons */
.glitch-wrapper {
  position: relative;
  height: 38px;
  width: 100px;
  margin: 3px;
}

.glitch-wrapper .glitch-input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.glitch-btn {
  --primary: #ff184c;
  --shadow-primary: #fded00;
  --color: white;
  --font-size: 11px;
  --shadow-primary-hue: 180;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(11% 0, 95% 0, 100% 25%, 90% 90%, 95% 90%, 85% 90%, 85% 100%, 7% 100%, 0 80%);
  --border: 5px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  color: var(--color);
  text-transform: uppercase;
  font-size: var(--font-size);
  letter-spacing: 1px;
  position: relative;
  font-weight: 900;
  width: 100%;
  height: 100%;
  line-height: 38px;
  text-align: center;
  transition: background 0.2s, 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.glitch-input:checked + .glitch-btn {
  --primary: #8B00FF;
  --shadow-primary: #00e572;
}

.glitch-input:hover + .glitch-btn, .glitch-wrapper:hover .glitch-btn {
  --primary: #cc133c;
}

.glitch-btn:after, .glitch-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.glitch-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.glitch-btn:after {
  background: var(--primary);
}

.glitch-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.glitch-input:hover + .glitch-btn .glitch-btn__glitch, .glitch-wrapper:hover .glitch-btn__glitch {
  display: block;
}

.glitch-input:checked + .glitch-btn .glitch-btn__glitch {
  display: block;
  animation: glitch 5s infinite;
}

.glitch-btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% { clip-path: var(--clip-one); }
  2%, 8% { clip-path: var(--clip-two); transform: translate(calc(var(--shimmy-distance) * -1%), 0); }
  6% { clip-path: var(--clip-two); transform: translate(calc(var(--shimmy-distance) * 1%), 0); }
  9% { clip-path: var(--clip-two); transform: translate(0, 0); }
  10% { clip-path: var(--clip-three); transform: translate(calc(var(--shimmy-distance) * 1%), 0); }
  13% { clip-path: var(--clip-three); transform: translate(0, 0); }
  14%, 21% { clip-path: var(--clip-four); transform: translate(calc(var(--shimmy-distance) * 1%), 0); }
  25% { clip-path: var(--clip-five); transform: translate(calc(var(--shimmy-distance) * 1%), 0); }
  30% { clip-path: var(--clip-five); transform: translate(calc(var(--shimmy-distance) * -1%), 0); }
  35%, 45% { clip-path: var(--clip-six); transform: translate(calc(var(--shimmy-distance) * -1%)); }
  40% { clip-path: var(--clip-six); transform: translate(calc(var(--shimmy-distance) * 1%)); }
  50% { clip-path: var(--clip-six); transform: translate(0, 0); }
  55% { clip-path: var(--clip-seven); transform: translate(calc(var(--shimmy-distance) * 1%), 0); }
  60% { clip-path: var(--clip-seven); transform: translate(0, 0); }
  31%, 61%, 100% { clip-path: var(--clip-four); }
}

/* Animated Like Button */
.animated-like-btn {
  background-color: transparent;
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  border: none;
  --i: #ff007f;
  --j: #ff8c00;
}

.animated-like-btn:active {
  scale: 1.2;
}

.animated-like-btn:hover {
  width: 120px;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.animated-like-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.animated-like-btn:hover::before {
  opacity: 1;
}

.animated-like-btn::after {
  content: '';
  position: absolute;
  top: 5px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  filter: blur(10px);
  transition: 0.5s;
  z-index: -1;
  opacity: 0;
}

.animated-like-btn:hover::after {
  opacity: 0.5;
}

.animated-like-btn .icon-wrapper {
  color: #777;
  transition: 0.5s;
  transition-delay: 0.25s;
  z-index: 10;
  display: flex;
}

.animated-like-btn.liked .icon-wrapper {
  color: #ff007f;
}

.animated-like-btn:hover .icon-wrapper {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.animated-like-btn .title {
  position: absolute;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  font-weight: 600;
  z-index: 10;
}

.animated-like-btn:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

/* Animated Delete Button */
.animated-delete-btn {
  background-color: transparent;
  position: relative;
  list-style: none;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  border: none;
  --i: #ff4d4d;
  --j: #b30000;
}

.animated-delete-btn:active {
  scale: 1.2;
}

.animated-delete-btn:hover {
  width: 100px;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.animated-delete-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.animated-delete-btn:hover::before {
  opacity: 1;
}

.animated-delete-btn::after {
  content: '';
  position: absolute;
  top: 3px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  filter: blur(8px);
  transition: 0.5s;
  z-index: -1;
  opacity: 0;
}

.animated-delete-btn:hover::after {
  opacity: 0.5;
}

.animated-delete-btn .icon-wrapper {
  color: #94a3b8;
  transition: 0.5s;
  transition-delay: 0.25s;
  z-index: 10;
  display: flex;
}

.animated-delete-btn:hover .icon-wrapper {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.animated-delete-btn .title {
  position: absolute;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  font-weight: 600;
  z-index: 10;
}

.animated-delete-btn:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

.animated-delete-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
